[submodule "frontend"]
	path = frontend
	url = https://github.com/your-org/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/Madagascam/backend.git
[submodule "heuristic_extractor"]
	path = heuristic_extractor
	url = https://github.com/Madagascam/heuristic_extractor
